/*  your css code here. If applicable */
 th, td{
	 border:1px solid orange;
	 padding: 3px 5px;
	 text-align:center;
 }
th{
	background-color:#888888;
	color:white;
}
.sub-total-row{
	text-align:right;
}
       